<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Air Quality - Today</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<h3>Today Data</h3>
<h2 th:text="${location.city} + ', ' + ${location.region} + ', ' +${location.country}"></h2>
<div>
    <h3>CO</h3>
    <p th:text="${airQuality.co}"></p>
    <h3>NO</h3>
    <p th:text="${airQuality.no}"></p>
    <h3>NO2</h3>
    <p th:text="${airQuality.no2}"></p>
    <h3>O3</h3>
    <p th:text="${airQuality.o3}"></p>
    <h3>SO2</h3>
    <p th:text="${airQuality.so2}"></p>
    <h3>PM25</h3>
    <p th:text="${airQuality.pm25}"></p>
    <h3>PM10</h3>
    <p th:text="${airQuality.pm10}"></p>
    <h3>NH3</h3>
    <p th:text="${airQuality.nh3}"></p>
    <h3>Time</h3>
    <p th:text="${airQuality.dt}"></p>
</div>
</body>
</html>