<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Air Quality - Historical</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<h2>Historical Data</h2>
<h3 th:text="${location.city} + ', ' + ${location.region} + ', ' +${location.country}"></h3>
<div th:if="${ not#lists.isEmpty(airQualities)}">
    <table class="table">
        <thead>
            <tr>
                <th>CO</th>
                <th>NO</th>
                <th>NO2</th>
                <th>03</th>
                <th>SO2</th>
                <th>PM2_5</th>
                <th>PM10</th>
                <th>NH3</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="airQuality : ${airQualities}">
                <td th:text="${airQuality.co}" th:classappend="${(airQuality.co > 400 ? 'bad' : '') + (airQuality.co > 200 ? ' weak' : '') + (airQuality.co > 140 ? ' medium' : '') + (airQuality.co > 100 ? ' good' : 'very-good')}"></td>
                <td th:text="${airQuality.no}"></td>
                <td th:text="${airQuality.no2}" th:classappend="${(airQuality.no2 > 240 ? 'bad' : '') + (airQuality.no2 > 180 ? ' weak' : '') + (airQuality.no2 > 120 ? ' medium' : '') + (airQuality.no2 > 60 ? ' good' : 'very-good')}"></td>
                <td th:text="${airQuality.o3}" th:classappend="${(airQuality.o3 > 120 ? 'bad' : '') + (airQuality.o3 > 50 ? ' weak' : '') + (airQuality.o3 > 35 ? ' medium' : '') + (airQuality.o3 > 20 ? ' good' : 'very-good')}"></td>
                <td th:text="${airQuality.so2}" th:classappend="${(airQuality.so2 > 500 ? 'bad' : '') + (airQuality.so2 > 350 ? ' weak' : '') + (airQuality.so2 > 210 ? ' medium' : '') + (airQuality.so2 > 140 ? ' good' : 'very-good')}"></td>
                <td th:text="${airQuality.pm25}"></td>
                <td th:text="${airQuality.pm10}" th:classappend="${(airQuality.pm10 > 10000 ? 'bad' : '') + (airQuality.pm10 > 8500 ? ' weak' : '') + (airQuality.pm10 > 7000 ? ' medium' : '') + (airQuality.pm10 > 5000 ? ' good' : 'very-good')}"></td>
                <td th:text="${airQuality.nh3}"></td>
                <td th:text="${airQuality.dt}"></td>
            </tr>
        </tbody>
        </table>
</div>
</body>
</html>