<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Air Quality</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/css/bootstrap-datepicker.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link type="text/css" th:href="@{/css/gijgo.min.css}" rel="stylesheet" />
</head>
<body>
<form th:action="@{/search}" method="get" id="searchAddress">
    <label for="textSearch">Search</label>
    <input id="textSearch" type="text" name="address">
    <select th:name="scope" id="scope">
        <option value="today">Today</option>
        <option value="forecast">Forecast</option>
        <option value="historical">Historical</option>
    </select>
    <input id="datepickerStartDate" width="270" th:name="startDate" hidden/>
    <input id="datepickerEndDate" width="270" th:name="endDate" hidden/>
    <button type="submit">Search</button>
</form>

<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<script type="text/javascript" th:src="@{/js/gijgo.min.js}"></script>


</body>
</html>